.build {
  background-color: #282838;
}
.build__body {
  height: 100%;
  width: 100%;
}

.build__cards {
  margin: auto;
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.build__featured > h1 {
  font-size: 50px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: white;
  text-align: center;
  padding: 40px;
}
