.part {
  color: white;
  margin-bottom: 10%;
  min-height: 20%;
}
.part__title {
  display: flex;
  margin: 10px;
  margin-left: 0;
  font-size: x-large;
}
.part__line {
  border: 1px solid blue;
  background-color: blue;
  width: 100%;
  margin: 17px;
}

.part__body {
  display: flex;
  justify-content: space-around;
  height: 10%;
}
.part__body > h3 {
  margin: auto;
  font-weight: 600;
  margin-left: 10%;
  font-size: large;
}

.part__image {
  width: 10%;
  object-fit: contain;
}

.part__details {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  padding-left: 0;
  position: relative;
  left: 0;
}

.part__buyBtn {
  background-color: #3b3b53 !important;
}

.part__loading {
  display: flex;
}
.part__loading > * {
  margin: auto;
  color: aliceblue;
}

@media screen and (max-width: 500px) {
  .part__image {
    width: 20%;
    object-fit: contain;
  }
  .part__body {
    justify-content: space-between;
    margin: 0;
  }
  .part__body > h3 {
    margin: auto;
  }
  .part__details {
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 0;
  }
  .part__details * {
    margin: 10px;
  }
  .part__buyBtn {
    background-color: #3b3b53 !important;
    width: 100% !important;
    margin: 10px !important;
  }
}
