.advertbuild {
  background-color: var(--secondary);
  border-radius: 7px;
  height: 50vh;
  padding: 10px;
  margin: auto;
  width: 90%;
  display: flex;
}
.advertbuild__title span {
  color: white;
  font-weight: 300;
}

.advertbuild__title h1 {
  font-weight: 900;
}

.advertbuild__title {
  flex: 0.25;
  margin: auto;
  text-align: center;
}

.advertbuild__summary {
  display: flex;
}
