.buildcard {
  background-color: white;
  border-radius: 5px;
  border: 5px solid;
  margin: 40px;
  padding: 20px;
  min-width: 400px;
  min-height: 400px;
}

.buildcard:hover {
  cursor: pointer;
}

.buildcard__image {
  display: flex;
  justify-content: space-between;
  height: 300px;
  width: 400px;
}

.buildcard__case {
  object-fit: contain;
  height: 50%;
  margin: auto;
}

.buildcard__partsImg {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 90%;
}

.buildcard__partsImg > img {
  height: 50%;
  object-fit: contain;
  padding: 10px;
}

.buildcard__loading {
  display: flex;
}

.buildcard__loading > * {
  margin: auto;
}
