.buildsummary {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  margin: 40px;
  height: 350px;
}

.buildsummary__loading > * {
  margin: auto;
}

.buildsummary__image {
  display: flex;
  justify-content: space-between;
  height: 300px;
  width: 400px;
  margin: auto;
}

.buildsummary__case {
  object-fit: contain;
  height: 50%;
  margin: auto;
}

.buildsummary__partsImg {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 90%;
}

.buildsummary__partsImg > img {
  height: 50%;
  object-fit: contain;
  padding: 10px;
}

.buildsummary__text {
  width: 20%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #212121;
  color: white;
}
.buildsummary__loadBars {
  width: 20%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 136, 0);
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 40px;
}

@media screen and (max-width: 1200px) {
  .buildsummary__image {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .buildsummary {
    flex-direction: column;
  }
}
