.build {
  background-color: #282838;
}
.build__body {
  height: 100%;
  width: 100%;
}

.build__cards {
  margin: auto;
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
