.gamecards {
  background-color: var(--primary);
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  flex-wrap: wrap;
  min-height: 80vh;
}

@media screen and (max-width: 500px) {
  .gamecards {
    display: initial;
    justify-content: initial;
    overflow: initial;
  }
}
