.part {
  color: white;
  margin-bottom: 50px;
  min-height: 200px;
}
.part__title {
  display: flex;
  margin: 10px;
  margin-left: 0;
  font-size: x-large;
}
.part__line {
  border: 1px solid blue;
  background-color: blue;
  width: 100%;
  margin: 17px;
}

.part__body {
  display: flex;
  justify-content: space-around;
  height: 100px;
}
.part__body > h3 {
  margin: auto;
  font-weight: 600;
  margin-left: 10%;
  font-size: large;
}

.part__image {
  width: 100px;
  object-fit: contain;
}

.part__details {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  padding-left: 0;
  position: relative;
  left: 0;
}

.part__buyBtn{
  background-color: #3b3b53 !important;
}
